<% include header %>
<% include adminnavigator %>

<div id="page">
    <center>
        <h2>view all categories!!!!!</h2>
<table border='2'>
<tr align='center'>
<th>catid</th>
<th>catnm</th>
<th>catimg</th>


<th>Action</th>
</tr>
<%
for(i=0;i<data.length;i++){
%>
<tr align='center'>
<td><%= data[i].catid %></td>
<td><%= data[i].catnm %></td>
<td><img src='../uploads/<%=data[i].catimgnm%>' height='50' width='70'/></td>
<td>
<a href='/admin/deletecatadmin?delete=<%=data[i].catid%>&catnm=<%=data[i].catnm%>' title='Delete category'>
<button><img src='../images/delete.jpeg' height='30' width='50'/><button>
</a>
</td>
</tr>
<% } %>
</table>
</center>

</div>
<% include footer %>